
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Product List</h2>
  </div>
  <nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">

            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="/products" class="btn btn-info">List Products</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/addProduct" class="btn btn-info">Add product</a>
              </li>
              
              <li class="list-inline-item">
                <a routerLink="/addBill" class="btn btn-info">Create Bill</a>
              </li>
             
               <li class="list-inline-item">
                <a routerLink="/addCustomer" class="btn btn-info">Create Customer</a>
              </li>
            </ul>
          </div>
        </div>
        <!--  <router-outlet></router-outlet>-->
      </div>
    </div>
  </div>


</nav>



<div class="container col-lg-5">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>product_name</th>
          <th>Quantity In Stock</th>
          <th>colour</th>
          <th>size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async">
          <td>{{product.product_name}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.colour}}</td>
          <td>{{product.size}}</td>
          
        </tr>
      </tbody>
    </table>
    
  </div>
</div>

</div>